table {
    background-color: linen;
}
tr,
td {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 1px solid rgb(0, 151, 15);
    border-collapse: collapse;
    font-weight: b;
}

td {
    padding: 20px;
}